<h1 mat-dialog-title><strong>Change password!</strong></h1>
<div mat-dialog-content>
  <h3 mat-dialog-title><strong>{{data.fullName}}</strong> [{{data.username}}]</h3>
  <div>
    <form>
      <mat-form-field>
        <mat-label>Current password</mat-label>
        <input matInput placeholder="Enter current password." [type]="hidex ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidex = !hidex">{{hidex ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input matInput placeholder="Enter new password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Retype new password</mat-label>
        <input matInput placeholder="Retype new password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="primeAccess">Save</button>
</div>
