<app-navigation></app-navigation>

<mat-tab-group *ngIf="gs.userData">
  <mat-tab label="App List">

    <mat-card class="apps-card">
      <mat-card-header>
        <mat-card-title>User apps list</mat-card-title>
        <mat-card-subtitle>Useful applications as per user role.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>

          <mat-list-item *ngFor="let app of gs.userData.appList">
            <mat-icon mat-list-icon>touch_app</mat-icon>
            <a href="{{app.url}}" mat-line>{{app.appName}}</a>
            <p mat-line> {{app.remark}} </p>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>

  </mat-tab>
  <mat-tab label="Options">

    <mat-card style="width: 400px; margin: 10px;">
      <mat-card-header>
        <mat-card-title>User Options</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <button mat-raised-button color="warn" *ngIf="gs.userData.primeAccess.usersPage" (click)="router.navigate(['/manage/user'])">Users</button>
        <button mat-raised-button color="warn" *ngIf="gs.userData.primeAccess.applicationManage" (click)="router.navigate(['/manage/app'])">Applications</button>
        <button mat-raised-button color="warn" *ngIf="gs.userData.primeAccess.userLevelManage" (click)="router.navigate(['/manage/level'])">User Levels</button>
        <button mat-raised-button color="warn" *ngIf="gs.userData.primeAccess.primeAccessControl" (click)="router.navigate(['/manage/prime/access'])">Prime access control</button>
        <button mat-raised-button color="warn" (click)="changePassword()">Change password</button>

      </mat-card-content>
    </mat-card>

  </mat-tab>
</mat-tab-group>
