<mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>

<div [ngClass]="{disabledDiv: isLoading}" class="signInBlock">

  <div class="signInHeader">Sign in</div>

  <div class="signInContainer">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput id="input_1" [errorStateMatcher]="matcher" (keyup.enter)="focusInput2()" [(ngModel)]="loginData.username" placeholder="Enter your username" autocomplete="off">
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-hint></mat-hint>
      <mat-error>{{matcher.errorMessage}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput id="input_2" [errorStateMatcher]="matcher" (keyup.enter)="signIn(loginData)" [(ngModel)]="loginData.password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <!--<mat-hint></mat-hint>-->
      <mat-error>{{matcher.errorMessage}}</mat-error>
    </mat-form-field>

    <button mat-button style="border-radius: 0;">About credential</button>
    <button mat-raised-button color="primary" style="float: right; border-radius: 0;" (click)="signIn(loginData)">Sign in</button>

  </div>
</div>

<button (click)="loadingToggle()">Test Enable disable</button>
