<app-navigation></app-navigation>

<div style="padding: 10px;">
  <div *ngIf="permittedAppList">

    <mat-toolbar style="justify-content: space-between">


      <div>
        <button mat-flat-button style="background: #f5f5f5;"
                (click)="location.back()"
                matTooltipPosition="after"
                matTooltip="Go back to the previous page">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span matTooltip="{{permittedAppList.description}}" matTooltipPosition="after">
          {{permittedAppList.title}} [ID: {{ permittedAppList.levelId }}]
        </span>

      </div>
      <div>

        <mat-form-field *ngIf="remainingAppListToAdd" style="width: 300px;" floatLabel="never">
          <input type="text" placeholder="Pick one to add" aria-label="Number" matInput [formControl]="appPickControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="setOption(option.appId)" *ngFor="let option of filteredOptions | async" [value]="option.appName">
              {{option.appName}}
            </mat-option>
            <mat-option disabled="true" *ngIf="!remainingAppListToAdd.length" style="padding: 10px;">
              No Apps remaining to add
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button mat-icon-button [disabled]="!selectedAppId" (click)="addAppToThisLevel()"><mat-icon>add_circle</mat-icon></button>

      </div>
    </mat-toolbar>

    <div style="border: 2px solid #f5f5f5; padding: 10px;">
      <mat-card *ngFor="let app of permittedAppList.appList" style="margin: 5px;">
        <mat-card-header style="justify-content: space-between">
          <mat-card-title>{{ app.appName }} [ID: {{ app.appId }}]</mat-card-title>
          <mat-card-subtitle>Permission Id: {{ app.permissionId }}</mat-card-subtitle>
          <div>
            <button mat-flat-button color="accent" (click)="updateLevelPermission(app.permissionId)" style="margin-right: 10px;"><mat-icon>playlist_add_check</mat-icon></button>
            <button mat-flat-button color="warn" (click)="removeAppFromThisLevel(app.permissionId)"><mat-icon>delete</mat-icon></button>
          </div>
        </mat-card-header>
      </mat-card>
    </div>

  </div>
</div>



