@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #535353;
}


.disabledDiv {
  pointer-events: none;
  opacity: 0.55;
}
